<div ng-controller="ContentController" infinite-scroll="loadMore()" infinite-scroll-distance="3">

    <story-card class="animate-repeat" comments-autoload="false" ng-story="story"
                ng-repeat="story in content"></story-card>
    <div ng-show="showEndMessage">
        <h2>Dotarłeś do końca!</h2>
    </div>
</div>
