html {
  p, a, h1, h2, h3, h4, h5, span, div, button, input, textarea {
    font-family: 'Roboto', sans-serif !important;
  }
}

#page-wrap {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.md-button {
  outline: none !important;
}

.md-dialog-container,
md-backdrop.md-dialog-backdrop {
  position: fixed !important;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 60px;
  &.big {
    width: 200px;
    border-radius: 100px;
  }
}

.main-content {
  width: 100%;
  float: left;
  padding-top: 90px;
}

.small-loader {
  position: fixed;
  top: -5px;
  height: 5px;
  width: 100%;
  z-index: 9999999;
}

.menu-toggle {
  position: fixed;
  left: 20px;
  top: 20px;
}

.button-left-fixed {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.loader-center {
  margin: 0 auto;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}