.header {

  float: left;
  width: 100%;
  position: fixed;
  padding: 20px 0px;
  z-index: 30;
  background: #f0f0f0;

  .header-inner {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }

  .profile-button {
    float: right;
    overflow: visible;

    div {
      position: absolute;
      right: 0;
      padding: 15px;
      .inner {
        background: #fff;
      }
    }
  }

}