.add-new-story {
  padding: 30px 0px;

  .add-input {
    width: 100%;
  }

  md-input-group {
    width: 100%;
    input {
      width: 100%;
    }
  }

  .category-list {
    md-radio-group {
      border: none;
      md-radio-button {
        float: left;
      }
    }
  }

  .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    .tag-item {
      background: #428bca;
      border: 1px solid #357ebd;
      border-radius: 4px;
      color: #fff;
      button {
        background: transparent;
        color: #000;
        opacity: .4;
      }
    }
    .tag-item.selected {
      background: #d9534f;
      border: 1px solid #d43f3a;
      border-radius: 4px;
      color: #fff;
    }
    &.focused {
      border-color: #66afe9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .autocomplete {
    border-radius: 4px;
    .suggestion-item.selected {
      color: #262626;
      background-color: #e9e9e9;
      em {
        color: #262626;
        background-color: #ffff00;
      }
    }
    .suggestion-item {
      em {
        font-weight: normal;
        background-color: #ffff00;
      }
    }
  }

}

