.story-page {
  h2 {
    cursor: pointer;
  }
  .new-comment {
    padding: 50px 0px;
    .comment-preview {
      margin-top: 20px;
      h4 {
        font-weight: 300;
      }
    }
  }
}

.comments-wrap {
  padding: 10px;
  md-list {
    .face {
      margin: 16px;
    }

    .md-tile-content {
      .meta {
        float: left;
        width: 14%;
        .date {
          width: 100%;
          float: left;
          display: block;
          span {
            margin: 0 0 3px 0;
            font-weight: 400;
            font-size: 0.9em;
            color: #737373;
            cursor: default;
          }
        }
        .mdi-reply-all {
          display: block;
          width: 100%;
          float: left;
        }
      }
      .content {
        float: left;
        width: 86%;
        padding-right: 20px;
        .md-tile-left {
          h4 {
            color: #737373;
          }
        }
      }
    }
  }

  .comments-replies {
    padding-left: 10%;
  }

}

.previous-comments {
  padding: 10px 0px;
  .comment {
    border-bottom: 1px solid #68858b;
    padding: 10px 0px;
    p {
      margin-bottom: 0px;
    }
    span {
      font-size: 12px;
      font-weight: 300;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      &.created-at {
        color: inherit;
      }
    }
  }
}