.story-card {
  display: block;
  padding: 8px;
  h3 {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .meta-panel {
    width: 10%;
    float: left;
    .face {
      margin: 0 auto;
      cursor: pointer;
      @media @sm {
        display: none;
      }
    }
    .buttons {
      margin-top: 15px;
      md-button {
        float: left;
      }
    }
    &.large {
      display: none;
      @media @smm {
        display: block;
      }
    }
    &.small {
      width: 100%;
      .buttons {
        margin-top: 0px;
        font-size: 10px;
      }
      @media @smm {
        display: none;
      }
    }
  }

  .content {
    width: 90%;
    float: left;
    @media @sm {
      width: 100%;
      float: right;
    }
    .top {
      border-bottom: 1px solid #AEAEAE;
      .left-lines {
        float: left;
        .top-line {
          width: 100%;
          float: left;
        }

        .bottom-line {
          width: 100%;
          float: left;
          font-size: 12px;
          color: #9197A3;
          .in-category {
            strong {
              text-transform: uppercase;
              cursor: pointer;
              &:hover {
                color: #2196F3;
              }
            }
          }
        }
      }

      .mark-read {
        cursor: pointer;
        display: block;
        float: right;
        &.is-read, &:hover {
          color: #2196F3;
        }
      }

      .nickname {
        cursor: pointer;
        &:hover {
          color: #2196F3;
        }
      }

    }
    .main {
      .title {
        overflow: hidden;
        word-break: break-all;
        width: 100%;

      }
      .content {
        word-break: break-all;
        width: 100%;
      }
      &.edit {
        .title {
          margin-top: 10px;
          padding: 5px;
          border: 1px solid #E1E2E3;
        }
        .content {
          resize: vertical;
          margin-top: 10px;
          padding: 5px;
          border: 1px solid #E1E2E3;
        }
        .save {
          margin-top: 10px;
        }
      }
    }

  }

  .comments {
    width: ~"calc(100% + 16px)";
    float: left;
    background-color: #F6F7F8;
    border-top: 1px solid #E1E2E3;
    margin: 8px -8px -8px -8px;

    padding: 8px;

    .comment-reply {
      width: 100%;
      float: left;
      margin-bottom: 15px;
      textarea {
        width: 100%;
        resize: none;
        border: 1px solid #E1E2E3;
        padding: 5px;
      }
      .meta {
        margin-top: 15px;
        span {
          display: block;
          float: left;
        }
        .md-button {
          float: right;
        }
      }
    }

    .comments-list {
      float: left;
      width: 100%;
      .one-comment {
        background-color: #F6F7F8;
        width: ~"calc(100% + 16px)";
        margin-left: -8px;
        margin-right: -8px;
        padding: 8px;
        border-top: 1px solid #E1E2E3;

        .content {
          float: left;
          width: 100%;
          .comment {
            .user {
              color: #9197A3;
              font-size: 12px;
              line-height: 35px;
              img, strong {
                cursor: pointer;
                &:hover {
                  color: #2196F3;
                }
              }
            }
            .face {
              display: block;
              float: left;
              width: 35px;
              margin-right: 10px;
            }
          }
          .replies {

            width: 90%;
            float: right;
            margin-right: -8px;
            margin-top: 8px;
            .comment-reply {
              padding-right: 8px;
              margin-top: 8px;
            }
            .reply {
              .comment {
                border-top: 1px solid #E1E2E3;
                padding: 8px;
              }
            }
          }
        }
      }
    }

  }
}

.abuse-dialog {

  span {

  }
  textarea {
    margin-top: 8px;
    width: 100%;
    height: 60px;
    resize: none;
  }
}