<div ng-controller="NavController" class="header">

    <div class="header-inner">
        <md-button
                aria-label="home page"
                ng-click="changePage('main.homepage.latest')"
                class="md-raised">Strona głowna
        </md-button>
        <md-button
                ng-show="loggedIn"
                aria-label="home page"
                ng-click="changePage('main.homepage.favorite')"
                class="md-raised">Ulubione
        </md-button>
        <md-button
                ng-show="loggedIn"
                aria-label="home page"
                ng-click="changePage('main.homepage.read')"
                class="md-raised">Przeczytane
        </md-button>
        <md-button
                ng-show="loggedIn"
                aria-label="home page"
                ng-click="changePage('main.add')"
                class="md-raised md-primary">Dodaj nową historię
        </md-button>

        <md-button
                ng-init="show = false"
                aria-label="home page"
                ng-click="show = !show"
                class="md-raised profile-button md-accent">Profil
            <div ng-show="show">
                <div class="inner md-whiteframe-z1">
                    <img ng-show="$root.loggedIn" class="face" ng-src="{{user.avatar_s}}">
                    <h3 ng-show="user">Witaj {{user.nickname}}</h3>
                    <md-button
                            ng-hide="loggedIn"
                            aria-label="facebook login"
                            ng-click="login()"
                            class="md-raised md-primary">Zaloguj się <i class="fa fa-facebook-square"></i>
                    </md-button>

                    <md-button
                            ng-show="loggedIn"
                            aria-label="facebook login"
                            ng-click="logout()"
                            class="md-raised md-warn">Wyloguj się <i class="fa fa-sign-out"></i>
                    </md-button>

                    <md-button
                            ng-show="loggedIn"
                            aria-label="facebook login"
                            ng-click="changePage('main.profile')"
                            class="md-raised md-primary">Edytuj
                    </md-button>
                </div>
            </div>
        </md-button>
    </div>


</div>