<div class="small-loader">
    <md-progress-linear ng-if="smallLoader" md-mode="indeterminate"></md-progress-linear>
</div>
<div ui-view="header"></div>
<md-content id="page-wrap">


    <md-button href="#page-wrap" du-smooth-scroll class="md-fab button-left-fixed" aria-label="Back to the top">
        <i class="mdi mdi-vertical-align-top mdi-2x"></i>
    </md-button>


    <div class="main-content" ui-view></div>
    <div id="bottom"></div>
</md-content>


