<form ng-hide="added" ng-submit="saveStory(newStoryContent)" class="add-new-story" ng-model="newStoryContent">

    <ul ng-show="errors">
        <h3>Błędy</h3>
        <li ng-repeat="error in errors">{{error}}</li>
    </ul>

    <div class="form-group">
        <label for="title">Tytuł historii</label>
        <input id="title" name="title" ng-model="newStoryContent.title" class="form-control" required="">
    </div>

    <div class="form-group">
        <label for="content">Treść historii</label>
        <textarea msd-elastic id="content" ng-model="newStoryContent.content" class="form-control"
                  required></textarea>
    </div>

    <md-button type="submit" class="md-fab md-accent" aria-label="Save story">
        <i class="mdi mdi-save mdi-2x"></i>
        <md-tooltip>Zapisz historię</md-tooltip>
    </md-button>

    <div class="form-group category-list">
        <md-radio-group ng-model="newStoryContent.category">
            <md-radio-button ng-repeat="category in categories" aria-label="{{ category.name }}" ng-value="category.id">
                {{category.name}}
            </md-radio-button>
        </md-radio-group>

    </div>


</form>

<div ng-show="added">
    <h3>Twoja historia została dodana</h3>

    <p>
        Twoja historia została dodana, jednak czeka na moderacje. Jeżeli wyraziłeś/aś zgodę, zostaniesz powiadomiony/a,
        kiedy historia zostanie opublikowana.
    </p>
</div>
