<md-dialog class="abuse-dialog" aria-label="Report">
    <md-content>
        <h3>Zgłoś treść do administracji</h3>
        <span>Podaj powód (opcjonalnie)</span>
        <textarea ng-model="reason"></textarea>
        <span ng-hide="$root.loggedIn"><strong>Zostaw email! Odpiszemy.</strong></span>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Zrezygnuj
        </md-button>
        <md-button ng-click="save(reason)" class="md-primary">
            Wyślij
        </md-button>
    </div>
</md-dialog>