<div ng-show="$root.loggedIn" class="comment-reply">

    <clearing-textarea ng-model="commentText"></clearing-textarea>
    <div class="meta clearfix">
        <span>Zalogowany jako: <strong>{{$root.user.nickname}}</strong></span>
        <md-button ng-click="saveComment(commentText);" class="md-raised md-primary">Dodaj</md-button>
    </div>

</div>

<div ng-hide="$root.loggedIn">

    <strong>Zaloguj się, aby dołączyć do dyskusji.</strong>

</div>


<div class="comments-list">
    <div class="clearfix one-comment animate-repeat" ng-repeat="comment in comments">
        <div class="content" ng-init="replyToComment = false">
            <div class="comment">
                <p class="user">
                    <img ng-click="usersProfile(comment.user.nickname_slug)" ng-src="{{comment.user.avatar}}"
                         class="face" alt="{{comment.user.nickname}}">
                    <strong ng-click="usersProfile(comment.user.nickname_slug)">{{comment.user.nickname}}</strong>
                <span class="date">
                    <span am-time-ago="comment.created_at"></span>
                    <md-tooltip>{{comment.created_at}}</md-tooltip>
                </span>
                </p>
                <div ng-bind-html="comment.content | htmlToPlaintext | newlines"></div>
            </div>
            <md-button ng-show="$root.loggedIn" class="pull-right" ng-click="replyToComment = !replyToComment">Odpowiedz
                na komentarz
            </md-button>
            <div class="replies">
                <div ng-show="replyToComment && $root.loggedIn" class="comment-reply">

                    <clearing-textarea ng-model="reply"></clearing-textarea>


                    <div class="meta clearfix">
                        <span>Zalogowany jako: <strong>{{$root.user.nickname}}</strong></span>
                        <md-button ng-click="saveReply(reply, comment)" class="md-raised md-primary">Dodaj</md-button>
                    </div>

                </div>
                <div class="clearfix reply animate-repeat" ng-repeat="reply in comment.replies">

                    <div class="comment">
                        <p class="user">
                            <img ng-click="usersProfile(reply.user.nickname_slug)" ng-src="{{reply.user.avatar}}"
                                 class="face" alt="{{reply.user.nickname}}">
                            <strong ng-click="usersProfile(reply.user.nickname_slug)">{{reply.user.nickname}}</strong>
                <span class="date">
                    <span am-time-ago="reply.created_at"></span>
                    <md-tooltip>{{reply.created_at}}</md-tooltip>
                </span>
                        </p>
                        <div ng-bind-html="reply.content | htmlToPlaintext | newlines"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>