<md-card class="story-card clearfix" ng-controller="StoryCardController" class="homepage-list clearfix">

    <div class="meta-panel large">
        <img ng-click="usersProfile(story.user.nickname_slug)" class="face" ng-src="{{story.user.avatar}}">

        <div class="buttons">
            <md-button ng-hide="story.can_edit" ng-class="{'md-primary':story.meta.favorite == 1}" ng-click="markFavorite()"
                       aria-label="Mark favorite">
                <i class="mdi mdi-favorite mdi-2x"></i> {{story.favorite_count}}
            </md-button>

            <md-button ng-hide="story.can_edit" ng-click="loadComments()"
                       aria-label="Load comments">
                <i class="mdi mdi-comment mdi-2x"></i> {{story.comment_count}}
            </md-button>

        </div>
    </div>


    <div class="content">

        <div class="top clearfix">
            <div class="left-lines">
                <div class="top-line">
                    <span ng-click="usersProfile(story.user.nickname_slug)" class="pull-left nickname">{{story.user.nickname}}</span>
                </div>

                <div class="bottom-line">
                <span class="date">
                    <span am-time-ago="story.created_at"></span>
                    <md-tooltip>{{story.created_at}}</md-tooltip>
                </span>

                <span class="in-category">w kategorii:
                    <strong ng-click="goToCategory()">{{story.category.name}}</strong>
                </span>
                    <i ng-click="abuse()" class="mdi mdi-info-outline"></i>

                </div>
            </div>


            <i ng-show="story.can_edit" ng-click="edit()"
               class="mdi mdi-mode-edit mdi-2x mark-read"></i>
            <i ng-hide="story.can_edit" ng-class="{'is-read':story.meta.read == 1}" ng-show="loggedIn" ng-click="archive()"
               class="mdi mdi-remove-red-eye mdi-2x mark-read"></i>


        </div>

        <div ng-hide="editMode" class="main clearfix">
            <h3 class="title pull-left" ng-click="openStory()">{{story.title}}</h3>

            <p ng-bind-html="story.content | htmlToPlaintext | newlines" class="content pull-left"></p>
        </div>

        <div ng-show="editMode" class="main edit clearfix">
            <input class="title" ng-model="tmpStory.title" type="text">
            <textarea msd-elastic class="content" ng-model="tmpStory.content"></textarea>
            <md-button
                    aria-label="save post changes"
                    ng-click="submitEdit()"
                    class="md-raised save pull-right md-primary">Zapisz zmiany
            </md-button>
            <ul ng-show="editErrors">
                <li ng-repeat="error in editErrors">{{error}}</li>
            </ul>
        </div>

    </div>

    <div class="meta-panel small">
        <div class="buttons">
            <md-button ng-hide="story.can_edit" ng-class="{'md-primary':story.meta.favorite == 1}" ng-click="markFavorite()"
                       aria-label="Mark favorite">
                <i class="mdi mdi-favorite mdi-2x"></i> {{story.favorite_count}}
            </md-button>

            <md-button ng-hide="story.can_edit" ng-click="loadComments()"
                       aria-label="Load comments">
                <i class="mdi mdi-comment mdi-2x"></i> {{story.comment_count}}
            </md-button>

        </div>
    </div>

    <div class="comments" ng-show="showCommets">

        <ng-include src="'/views/directives/storyCardComments.html'"></ng-include>

    </div>

</md-card>