<div ng-show="userProfile">

    <img class="face big" ng-src="{{userProfile.avatar}}">
    <h2>{{userProfile.nickname}}</h2>
    <h3>Dołączył <span am-time-ago="userProfile.created_at"></span></h3>
</div>

<div ng-controller="ContentController" infinite-scroll="loadMore()" infinite-scroll-distance="3">
    <story-card  class="animate-repeat" comments-autoload="false" ng-story="story" ng-repeat="story in content"></story-card>
</div>
