<div class="profile-edit">

    <div class="pull-left col-sm-6 col-xs-12">
        <ul ng-show="errors">
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
        <h3>Zaktualizuj swój awatar</h3>

        <img ng-show="previewLink" class="previev face big" alt="Embedded Image" ng-src="{{previewLink}}"/>

        <input class="md-raised md-button md-default-theme" type='file' ng-model='image' base-sixty-four-input>

        <h3>Zmień swój nick</h3>

        <input type="text" ng-model="profile.nickname" value="">



        <md-button ng-click="updateProfile()">
            Zaktualizuj profil
        </md-button>

    </div>


    <div ng-show="profileLoaded" class="pull-left col-sm-6 col-xs-12">

        <img class="face big" ng-src="{{profile.avatar}}">

        <h2 ng-click="usersProfile()">{{user.nickname}}</h2>


        <md-switch ng-model="autoCommentLoad" aria-label="Automatyczne ładowanie komentarzy">
            Automatyczne ładowanie komentarzy
        </md-switch>

        <md-switch ng-model="allowNotification" aria-label="Automatyczne ładowanie komentarzy">
            Zezwalaj na powiadomienia za pomocą email
        </md-switch>

    </div>

    <div ng-hide="profileLoaded" class="pull-left col-sm-6 col-xs-12">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>


</div>