<!doctype html>
<html ng-controller="MainController" class="no-js" ng-app="hist">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title ng-bind="state.current.data.title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ assetPath "lib.css" }}">
    <link rel="stylesheet" href="{{ assetPath "main.css" }}">


</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="fb-root"></div>
<div ui-view></div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- bower:js -->
<!-- endbower -->
<script src="../bower_components/moment/locale/pl.js"></script>


<!-- build:js({.tmp,src}) scripts/scripts.js -->
<script src="app/index.js"></script>
<script src="app/config.js"></script>
<script src="app/services/AuthService.js"></script>
<script src="app/services/MessengerService.js"></script>
<script src="app/services/LoadContentService.js"></script>
<script src="app/controllers/MainController.js"></script>
<script src="app/controllers/ContentController.js"></script>
<script src="app/controllers/NavController.js"></script>
<script src="app/controllers/AddController.js"></script>
<script src="app/controllers/StoryController.js"></script>
<script src="app/controllers/StoryCardController.js"></script>
<script src="app/controllers/ProfileController.js"></script>
<script src="app/directives/storyCard.js"></script>
<script src="app/directives/clearingTextarea.js"></script>

<!-- endbuild -->


</body>
</html>