<story-card ng-show="story" open-self="false" comments-autoload="true" ng-story="story"></story-card>

<md-progress-circular ng-hide="story" class="loader-center" md-mode="indeterminate"></md-progress-circular>



